.moon,
.settings,
.hl {
    margin-bottom: 15px;

    color: black;

    background-color: rgba(255, 255, 255, 0.1);

    border: 1px solid transparent;
    border-radius: 5px;
}

.chart-container {
    margin-top: 20px;
    margin-bottom: 20px;
}

.hl {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.hl_time {
    font-size: 2em;
}

#tide-form input:hover {
    border-bottom: 1px solid lightgrey;
    cursor: pointer;
}

@media only screen and (min-width: 600px) {
    .hl div:nth-child(1) {
        border-right: 1px solid lightgray;
    }

    .hl div:nth-child(2) {
        border-right: 1px solid lightgray;
    }

    .hl div:nth-child(3) {
        border-right: 1px solid lightgray;
    }

    #tide {
        height: 130vh;
    }
}
@media only screen and (max-width: 600px) {
    .hl div:nth-child(1) {
        border-bottom: 1px solid lightgray;
    }

    .hl div:nth-child(2) {
        border-bottom: 1px solid lightgray;
    }

    .hl div:nth-child(3) {
        border-bottom: 1px solid lightgray;
    }

    #tide {
        height: 90vh;
    }
}